<div class="col-sm-6 col-md-4" *ngFor="let game of games">
    <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
            <div class="">{{game.title}}</div>
            <button class="btn btn-danger" (click) = "deleteGame(game.id)">
                <i class="far fa-trash-alt"></i>
            </button>
        </div>
        <img [src]="game.image" alt="{{game.title}} image" class="card-img-top">
        <div class="card-body">
            <p>{{game.description}}</p>
            <a href="" class="btn btn-info btn-block">Edit game</a>

        </div>
    </div>
</div>